<?xml version="1.0"?>
<launch>
	<param name="apc_shelf" command="$(find xacro)/xacro.py '$(find stowing_driver)/urdf/apc_shelf.urdf.xacro'" />
	
  	<node name="spawn_apc_shelf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param apc_shelf -model apc_shelf" respawn="false" output="screen" />
</launch>
