<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spawn_acp_shelf">  
  <!-- Adds the apc shelf -->
  <xacro:apc_shelf X="1.2" Y="0.0" Z="0.0" roll="1.571" pitch="0.0" yaw="1.571"/>

  <xacro:macro name="apc_shelf" params="X Y Z roll pitch yaw">
    <link name="world" />

    <link name="shelf">
      <inertial>
        <origin xyz="${X} ${Y} ${Z}" rpy="${roll} ${pitch} ${yaw}"/>
        <mass value="100.0" />
        <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
      </inertial>
      <visual>
        <origin xyz="${X} ${Y} ${Z}" rpy="${roll} ${pitch} ${yaw}"/>
        <geometry>
           <mesh filename="package://stowing_driver/scripts/pod_lowres.stl" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="${X} ${Y} ${Z}" rpy="${roll} ${pitch} ${yaw}"/>
        <geometry>
           <mesh filename="package://stowing_driver/scripts/pod_lowres.stl" />
        </geometry>
      </collision>
    </link>

    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link="shelf" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <gazebo reference="shelf">
      <material>Gazebo/Blue</material>
    </gazebo>
  </xacro:macro>
</robot>


