<robot name="ur5_base">
  <link name="base">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100.0" />
        <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
           <cylinder length="0.5" radius="0.12"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
           <cylinder length="0.5" radius="0.12"/>
        </geometry>
      </collision>
    </link>
</robot>