<?xml version="1.0" ?>
<robot name="Amazon_kiva_container" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="amazon_container">
<link name="container">
			<visual>
		            <geometry>
                               <box size="0.4 0.4 0.3"/>
                            </geometry>
			    <material name="red">
			       <color rgba="1 0 0 1"/>
                            </material>
			</visual>
			<collision>
			    <geometry>
                               <box size="0.4 0.4 0.2"/>
                            </geometry>
			    <material name="red">
			        <color rgba="1 0 0 1"/>
                            </material>
			</collision>
</link>
		<joint name="container_to_world_frame" type="fixed">
			<parent link="world_frame"/>
			<child link="container"/>
			<origin xyz="0.2 0.5 0.15" rpy="0 0 0"/>
		</joint>

<link name="object1">
			<visual>
		            <geometry>
                               <box size="0.1 0.1 0.1"/>
                            </geometry>
			    <material name="green">
			       <color rgba="1 1 1 1"/>
                            </material>
			</visual>
			<collision>
			    <geometry>
                               <box size="0.1 0.1 0.1"/>
                            </geometry>
			    <material name="green">
			        <color rgba="1 1 1 1"/>
                            </material>
			</collision>
</link>
		<joint name="object1_to_container" type="fixed">
			<parent link="container"/>
			<child link="object1"/>
			<origin xyz="-0.1 0 0.2" rpy="0 0 0"/>
		</joint>

<link name="object2">
			<visual>
		            <geometry>
                              <cylinder radius="0.05" length = "0.2"/>
                            </geometry>
			    <material name="green">
			       <color rgba="1 1 1 1"/>
                            </material>
			</visual>
			<collision>
			    <geometry>
                              <cylinder radius="0.05" length = "0.2"/>
                            </geometry>
			    <material name="green">
			        <color rgba="1 1 1 1"/>
                            </material>
			</collision>
</link>
		<joint name="object2_to_container" type="fixed">
			<parent link="container"/>
			<child link="object2"/>
			<origin xyz="0.1 0 0.25" rpy="0 0 0"/>
		</joint>


</xacro:macro>
</robot>
