<?xml version="1.0" ?>
<robot name="Amazon_kiva_shelft" xmlns:xacro="http://ros.org/wiki/xacro">
   <!-- instantiating amazon_kiva shelft definitions -->
<xacro:macro name="amazon_shelft">
  <link name="shelft">
		<visual>
			<geometry>
				<mesh filename="package://robot_config/meshes/pod_lowres.stl" />
			</geometry>
			<material name="orange1">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="package://robot_config/meshes/pod_lowres.stl" />
			</geometry>
			<material name="yellow1">
				<color rgba="0 0 1 1"/>
			</material>
		</collision>
    </link>
		<joint name="shelft_to_table_base1" type="fixed">
			<parent link="world_frame"/>
			<child link="shelft"/>
			<origin xyz="-1.6 0 0" rpy="1.57 0 1.57"/>
		</joint>
</xacro:macro>
  <!-- end of workcell definitions -->


</robot>
